.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100vh;
}
.edit-container.login {
  justify-content: center;
}

.card .highlighted > p {
  text-align: center;
}
.card .highlighted > p > span {
  color: var(--sub-text);
}