.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  background-color: var(--background);
  opacity: 0.9;
}
.toolbar > .title {
  margin: 0 0 0 16px;
  font-weight: bold;
}
.toolbar > .buttons {
  margin: 0 8px 0 0;
}

.header {
  padding: 40px 16px 16px;
  color: var(--text);
  font-weight: bold;
  border-bottom: 1px solid var(--sub-text);
}
.header > .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .user-id a {
  color: var(--text);
  text-decoration: none;
}
.header .description,
.header .edit-date {
  color: var(--sub-text);
  font-weight: normal;
}