@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --background: #fff;
  --text: #222;
  --sub-text: #666;
  --shadow-color: #ccc;
  --primary: #1976d2;
  background: var(--background);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(21, 32, 43);
    --text: #fff;
    --sub-text: #aaa;
    --shadow-color: #333;
  }
}

#root {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: block;
  width: 100%;
  max-width: 600px;
}

/* CARD FORMAT */
.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--sub-text);
  border-radius: 20px;
}
.card .title {
  margin: 8px 0 24px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.card .description > p {
  margin: 8px 0;
}

.card .warnings {
  margin: 16px 0;
  padding: 0 0 0 16px;
  list-style-type: '\26A0';
  color: var(--sub-text);
}
.card .warnings > li {
  margin: 4px 0;
  padding: 0 0 0 8px;
}
.card .warnings > li > span {
  color: var(--text);
}

.card .highlighted {
  margin: 20px 0;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

.card .form {
  display: flex;
  flex-direction: column;
}

/* BUTTON FORMAT */
.button-container.full {
  width: calc(100% - 32px);
  max-width: 560px;
  padding: 0 0 20px;
  margin: 0 auto;
}
.button {
  font-weight: bold;
}
.button.rounded {
  border-radius: 20px;
}